# Bybit
BYBIT_BASE_URL=https://api-testnet.bybit.com # atau https://api.bybit.com
BYBIT_API_KEY=your_api_key
BYBIT_API_SECRET=your_api_secret
BYBIT_ACCOUNT_TYPE=unified   # atau contract
BYBIT_LEVERAGE=10
ENTRY_USD=10              # 1 usd margin
ENTRY_MULT=1              # ENTRY_QTY = qty_min(symbol) * ENTRY_MULT
TRAILING_PCT=0.03         # 3%

# Settings
BOT_MODE=live # live | paper | dry
TZ=Asia/Jakarta
DATA_DIR=./src/storage/files
WINDOW_SKIP_START=23:00
WINDOW_SKIP_END=04:00

WS_SELFTEST=1
WS_RECV_WINDOW=5000

# Discord
DISCORD_TOKEN=your_auth
DISCORD_ALERT_CHANNEL_ID=your_alert_channel_id
DISCORD_MANUAL_CHANNEL_ID=your_manual_channel_id